<script lang="ts">
	import { page } from '$app/stores';
	import { setLocale } from '$i18n/i18n-svelte';
	import Header from '$lib/Header.svelte';
	import HeadHrefLangs from '$lib/HeadHrefLangs.svelte';
	import type { LayoutData } from './$types';

	export let data: LayoutData;
	// at the very top, set the locale before you access the store and before the actual rendering takes place
	setLocale(data.locale);
</script>

<Header />

<main>
	<slot />
</main>

<svelte:head>
	<title>{$page.data.title || 'typesafe-i18n'}</title>
	<HeadHrefLangs />
</svelte:head>

<style lang="scss" global>
	@import '../styles/global.scss';
</style>
